{
    "config": {
        "api": {
            "clientToken": "your_token_here",
            "url": "http://localhost:3001"
        },
        "services": {
            "timeDefault": "*/5 * * * *",
            "chile_api_business_lookup": {
                "queryParams": "documentNumber=76.409.396-8&documentType=RUT",
                "keysInResponse": []
            },
            "chile_api_identity_lookup": {
                "queryParams": "documentType=RUT&documentNumber=19.850.049-6",
                "keysInResponse": [
                    "documentType",
                    "documentNumber",
                    "fullName",
                    "firstName",
                    "lastName",
                    "arrayName"
                ]
            },
            "chile_api_vehicle": {
                "queryParams": "plate=QT784",
                "keysInResponse": [
                    "rut", "propietario",
                    "patente", "num_motor",
                    "num_chasis", "encargo_robo",
                    "tipo", "marca",
                    "modelo", "color",
                    "year", "multas"
                ]
            },

            "colombia_api_affiliations": {
                "queryParams": "documentNumber=91261782&date=16/02/1987&documentType=CC",
                "keysInResponse": [
                    "informacionPersonal",
                    "eps",
                    "ap",
                    "arl",
                    "cajaCompensacion",
                    "cesantias"
                ]
            },
            "colombia_api_contraloria_certificate": {
                "queryParams": "documentType=CC&documentNumber=1020729123",
                "keysInResponse": ["documentType", "documentNumber", "searchDate", "pdfBase64"]
            },
            "colombia_api_criminal_history": {
                "queryParams": "documentType=CC&documentNumber=1023942104",
                "keysInResponse": [
                    "documentType",
                    "documentNumber",
                    "fullName",
                    "firstName",
                    "lastName",
                    "arrayName",
                    "antecedentes",
                    "isRequired",
                    "legend",
                    "expeditionDate",
                    "expeditionPlace",
                    "dateOfBirth"
                ]
            },
            "colombia_api_delinquent_debtors": {
                "queryParams": "documentType=NIT&documentNumber=890903938"
            },
            "colombia_api_dian": {
                "queryParams": null,
                "keysInResponse": []
            },
            "colombia_api_driver": {
                "queryParams": "documentType=CC&documentNumber=12345678998",
                "keysInResponse": [
                    "documentType",
                    "documentNumber",
                    "fullName",
                    "totallicencias",
                    "licencias",
                    "transitTaxes",
                    "consultationDateTime"
                ]
            },
            "colombia_api_identity_lookup": {
                "queryParams": "documentType=CC&documentNumber=1023942104",
                "keysInResponse": [
                    "documentType",
                    "documentNumber",
                    "fullName",
                    "firstName",
                    "lastName",
                    "arrayName",
                    "expeditionDate",
                    "expeditionPlace",
                    "dateOfBirth"
                ]
            },
            "colombia_api_identity_lookup_extra": {
                "queryParams": null,
                "keysInResponse": []
            },
            "colombia_api_judicial_process_details": {
                "queryParams": "processNumber=77687424",
                "keysInResponse": ["details", "subjects", "actions"]
            },
            "colombia_api_judicial_processes": {
                "queryParams": null,
                "keysInResponse": []
            },
            "colombia_api_military_situation": {
                "queryParams": "documentType=CC&documentNumber=1121329661",
                "keysInResponse": ["Name", "State", "DateText", "PlaceText", "AdressText"]
            },
            "colombia_api_min_trabajo": {
                "queryParams": "documentType=CC&documentNumber=1057582023"
            },
            "colombia_api_pico_placa": {
                "queryParams": "plate=EHO820",
                "keysInResponse": ["placa", "causalExcepcion", "activoDesde", "estado", "detalles"]
            },
            "colombia_api_registraduria_certificate": {
                "queryParams": "documentType=CC&documentNumber=11380781&date=04/06/1981",
                "keysInResponse": ["certificado", "novedad", "pdfBase64"]
            },
            "colombia_api_rethus": {
                "queryParams": "documentType=CC&documentNumber=79467398",
                "keysInResponse": [
                    "documentType",
                    "documentNumber",
                    "fullName",
                    "firstName",
                    "lastName",
                    "arrayName",
                    "rethus"
                ]
            },
            "colombia_api_rues": {
                "queryParams": null,
                "keysInResponse": []
            },
            "colombia_api_sena": {
                "queryParams": "documentType=CC&documentNumber=1020729123"
            },
            "colombia_api_simit_agreements": {
                "queryParams": "documentType=CC&documentNumber=123456789",
                "keysInResponse": ["acuerdosPagos"]
            },
            "colombia_api_simit_complete": {
                "queryParams": "documentType=NIT&documentNumber=860034594",
                "keysInResponse": [
                    "multas",
                    "personasMismoDocumento",
                    "pazSalvo",
                    "totalGeneral",
                    "totalMultas",
                    "totalAp",
                    "paramEntradaPlaca",
                    "cancelada",
                    "suspendida",
                    "fechaDesdeCancelSuspen",
                    "fechaHastaSuspencion",
                    "organismoTransitoCancelSuspen",
                    "cursos",
                    "acuerdosPago",
                    "totalMultasPagar",
                    "cantMultasPagar",
                    "totalAcuerdosPagar",
                    "cantAcuerdosPagar",
                    "mensajeValidacionPagoPlaca"
                ],
                "time": "*/15 * * * *"
            },
            "colombia_api_simit_resolutions": {
                "queryParams": "documentType=CC&documentNumber=GPO357",
                "keysInResponse": []
            },
            "colombia_api_simit_subpoenas": {
                "queryParams": "documentType=CC&documentNumber=123456789",
                "keysInResponse": ["comparendos"]
            },
            "colombia_api_simit_suspensions": {
                "queryParams": "documentType=CC&documentNumber=1002953721",
                "keysInResponse": []
            },
            "colombia_api_vehicle": {
                "queryParams": "documentType=CC&documentNumber=35507053&plate=EHO820",
                "keysInResponse": [
                    "documentType",
                    "documentNumber",
                    "plate",
                    "vehicleInformation",
                    "soat",
                    "techReview",
                    "consultationDateTime",
                    "vehicleData"
                ]
            },
            "colombia_api_vehicle_complete": {
                "queryParams": null,
                "keysInResponse": []
            },
            "colombia_api_vehicle_soat": {
                "queryParams": null,
                "keysInResponse": []
            },
            "colombia_special_api_police_identity_lookup": {
                "queryParams": "documentType=CC&documentNumber=38643929",
                "keysInResponse": [
                    "documentType",
                    "documentNumber",
                    "fullName",
                    "firstName",
                    "lastName",
                    "arrayName",
                    "details",
                    "legend",
                    "expeditionDate",
                    "expeditionPlace",
                    "dateOfBirth"
                ],
                "time": "*/15 * * * *"
            },

            "costarica_api_identity_lookup": {
                "queryParams": "documentType=CCCR&documentNumber=402330701",
                "keysInResponse": [
                    "documentType",
                    "documentNumber",
                    "fullName",
                    "firstName",
                    "lastName",
                    "arrayName"
                ]
            },

            "ecuador_api_criminal_history": {
                "queryParams": "documentType=CCEC&documentNumber=1706172648",
                "keysInResponse": ["documentType", "documentNumber", "antecedentes"]
            },
            "ecuador_api_identity_lookup": {
                "queryParams": "documentType=CCEC&documentNumber=1706172648",
                "keysInResponse": [
                    "documentType",
                    "documentNumber",
                    "fullName",
                    "firstName",
                    "lastName",
                    "arrayName"
                ]
            },
            "ecuador_api_vehicle": {
                "queryParams": null,
                "keysInResponse": []
            },
            "ecuador_api_vehicle_fines": {
                "queryParams": null,
                "keysInResponse": []
            },

            "mexico_api_vehicle": {
                "queryParams": null,
                "keysInResponse": []
            },
            "mexico_identity_lookup": {
                "queryParams": "documentType=CURP&documentNumber=BEPC890513HDFLRR09",
                "keysInResponse": [
                    "curp",
                    "nombre",
                    "primerApellido",
                    "segundoApellido",
                    "sexo",
                    "fechaNacimientp",
                    "nacionalidad",
                    "estado",
                    "documentoProbatorio",
                    "fechaRegistro",
                    "numActa",
                    "estadoRegistro",
                    "municipioRegistro"
                ],
                "time": "*/15 * * * *"
            },

            "panama_api_identity_full_lookup": {
                "queryParams": "documentType=CCPA&documentNumber=E-8-194765",
                "keysInResponse": [
                    "documentType",
                    "documentNumber",
                    "fullName",
                    "firstName",
                    "lastName",
                    "arrayName",
                    "gender",
                    "email",
                    "phone",
                    "dateOfBirth"
                ]
            },
            "panama_api_identity_lookup": {
                "queryParams": "documentType=CCPA&documentNumber=E-8-194765",
                "keysInResponse": [
                    "documentType",
                    "documentNumber",
                    "fullName",
                    "firstName",
                    "lastName",
                    "arrayName"
                ],
                "time": "*/15 * * * *"

            },
            "panama_api_vehicle": {
                "queryParams": "plate=AM5240",
                "keysInResponse": [
                    "policyIdLegacy",
                    "policyId",
                    "policyStatus",
                    "effectiveStartDate",
                    "effectiveEndDate",
                    "certificateNumber",
                    "brandDescription",
                    "modelDescription",
                    "plateNumber",
                    "vehicleYear",
                    "postNumber",
                    "vehicleType",
                    "vehicleTypeDescription",
                    "serialBody",
                    "serialMotor",
                    "vehicleClass",
                    "vehicleClassDescription",
                    "regUniVeh"
                ]
            },

            "peru_api_company_lookup": {
                "queryParams": "documentType=RUC&documentNumber=20134058910",
                "keysInResponse": [
                    "documentType", "documentNumber",
                    "ubigeo", "numero",
                    "interior", "lote",
                    "dpto", "manzana",
                    "kilometro", "distrito",
                    "provincia", "departamento",
                    "direccion", "nombre",
                    "estadoContribuyente", "condicionDomicilio",
                    "tipoVia", "nombreVia",
                    "codigoZona", "tipoZona",
                    "direccionSimple", "actualizado"
                ]
            },
            "peru_api_vehicle": {
                "queryParams": "plate=AFJ289",
                "keysInResponse": [
                    "plate", "use",
                    "type", "brand",
                    "model", "year",
                    "engineSerial", "chasisSerial",
                    "seats", "validFormat",
                    "serial"
                ]
            },
            "peru_api_vehicle_soat": {
                "queryParams": "plate=AFJ289",
                "keysInResponse": [
                    "plate",
                    "companyName",
                    "startDate",
                    "endDate",
                    "policyNumber",
                    "use",
                    "type",
                    "status",
                    "policyUniqueNumber",
                    "SBSAseguradora",
                    "policeControlDate"
                ]
            },
            "peru_identity_lookup": {
                "queryParams": "documentType=DNI&documentNumber=10012345",
                "keysInResponse": [
                    "documentType",
                    "documentNumber",
                    "fullName",
                    "firstName",
                    "lastName",
                    "arrayName"
                ]
            },

            "spain_api_identity_lookup": {
                "queryParams": "documentType=DNIES&documentNumber=29731290H&date=27/03/2025",
                "keysInResponse": [
                    "documentType",
                    "documentNumber",
                    "fullName",
                    "firstName",
                    "lastName",
                    "arrayName"
                ]
            },

            "usa_api_vehicle": {
                "queryParams": "plate=45BNSK&state=FL",
                "keysInResponse": [
                    "Vin",
                    "VehicleDescriptor",
                    "Make",
                    "ManufacturerName",
                    "Model",
                    "ModelYear",
                    "PlantCity",
                    "Series",
                    "VehicleType",
                    "PlantCountry",
                    "PlantState",
                    "BodyClass",
                    "Doors",
                    "GrossVehicleWeightRatingFrom",
                    "TransmissionStyle",
                    "TransmissionSpeeds",
                    "EngineNumberofCylinders",
                    "Displacement(CC)",
                    "Displacement(CI)",
                    "Displacement(L)",
                    "EngineModel",
                    "EnginePower(kW)",
                    "FuelType-Primary",
                    "ValveTrainDesign",
                    "EngineConfiguration",
                    "EngineBrake(hp)From",
                    "SeatBeltType",
                    "CurtainAirBagLocations",
                    "FrontAirBagLocations",
                    "SideAirBagLocations",
                    "NCSABodyType",
                    "NCSAMake",
                    "NCSAModel"
                ]
            },
            "venezuela_api_identity_lookup": {
                "queryParams": "documentType=CCVE&documentNumber=27064690",
                "keysInResponse": [
                    "documentType",
                    "documentNumber",
                    "fullName",
                    "firstName",
                    "lastName",
                    "arrayName"
                ]
            },

            "world_api_covid": {
                "queryParams": "statistics",
                "keysInResponse": ["confirmedCases", "deaths", "recovered", "percentages", "countries"]
            },
            "world_api_dea": {
                "queryParams": "documentType=CC&documentNumber=80251972",
                "keysInResponse": [
                    "documentType",
                    "documentNumber",
                    "fullName",
                    "firstName",
                    "lastName",
                    "arrayName",
                    "foundInDEA",
                    "urlDEA"
                ]
            },
            "world_api_europol": {
                "queryParams": "documentType=CC&documentNumber=80251972",
                "keysInResponse": [
                    "documentType",
                    "documentNumber",
                    "fullName",
                    "firstName",
                    "lastName",
                    "arrayName",
                    "foundInEuropol",
                    "urlEuropol"
                ]
            },
            "world_api_fbi": {
                "queryParams": "documentType=CC&documentNumber=80251972",
                "keysInResponse": [
                    "documentType",
                    "documentNumber",
                    "fullName",
                    "firstName",
                    "lastName",
                    "arrayName",
                    "foundInFBI",
                    "urlFBI"
                ]
            },
            "world_api_interpol": {
                "queryParams": "documentType=CC&documentNumber=19304877",
                "keysInResponse": ["totalCards", "person", "cards"]
            },
            "world_api_ofac": {
                "queryParams": null,
                "keysInResponse": []
            },
            "world_api_onu": {
                "queryParams": null,
                "keysInResponse": []
            }

        }
    }
}